{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body id="body-style">
{% include 'Navbar.html' %}
<p>This is home!</p>
{% include 'Footer.html' %}
</body>
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
</html>