{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body id="body-style">
{% include 'Navbar.html' %}
</body>
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script>
    test();
    function test() {
        var a = {{ identity }};
        if(a === 0){
            $('.cart').hide();
            $('.order').hide();
        }
        if(a === 1){
            $('.cart').show();
        }
        if(a === 2){
            $('.cart').hide();
        }
    }
</script>
</html>