{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'orderdetail_style.css' %}">
</head>
{% include 'Navbar.html' %}
<body id="body-style">
<div class="main">
    <div class="container">
        <div class="order-detail-page col-sm-12">
            <h1 class="page-title">Purchase Order Detail</h1>
            <div class="order-basic-info">
                <div class="order-basic-data clearfix">
                    <div>
                        <table class="order-basic-table">
                            <tbody>
                            <tr>
                                <td class="order-num order-basic-left order-basic-firstrow"><span
                                        class="order-basic-attr">Order number: </span></td>
                                <td class="order-basic-value order-basic-firstrow">{{ order.po }}</td>
                                <td class="order-customer-name order-basic-firstrow"><span class="order-basic-attr">Customer name: </span>
                                </td>
                                <td class="order-basic-value order-basic-firstrow">{{ order.aid.aname }}</td>
                            </tr>
                            <tr>
                                <td class="order-total order-basic-left"><span class="order-basic-attr">Total order amount: </span>
                                </td>
                                <td class="order-basic-value">{{ order.totalAmount }}</td>
                                <td class="order-purchase-date"><span class="order-basic-attr">Purchase date: </span>
                                </td>
                                <td class="order-basic-value">{{ order.pDate }}</td>
                            </tr>
                            <tr>
                                <td class="order-status order-basic-left">
                                    <span class="order-basic-attr">Order status: </span></td>
                                <td class="order-basic-value">
                                    {% if order.status == 'p' %}
                                        Pending <i class="fa fa-clock-o fa-fw"></i>
                                    {% elif order.status == 'h' %}
                                        Hold <i class="fa fa-hourglass-half fa-fw"></i>
                                    {% elif order.status == 'c' %}
                                        {% if order.cancelledPerson == 'c' %}
                                            Cancelled by customer <i class="fa fa-ban fa-fw"></i>
                                        {% else %}
                                            Cancelled by vendor <i class="fa fa-ban fa-fw"></i>
                                        {% endif %}
                                    {% elif order.status == 's' %}
                                        Shipped <i class="fa fa-truck fa-fw"></i>
                                    {% endif %}
                                </td>
                                {% if order.status == 'p' %}
                                    {% if request.session.isVendor == 1 %}
                                        <td>
                                            <a href="{% url 'ship_order_link' order.po %}">
                                                <button class="order-shipped-btn btn btn-primary">Ship this order
                                                </button>
                                            </a>
                                        </td>
                                        <td></td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                    {% endif %}
                                {% elif order.status == 'c' %}
                                    <td class="order-spec-date"><span class="order-basic-attr">Cancel date: </span></td>
                                    <td class="order-basic-value">{{ order.specDate }}</td>
                                {% elif order.status == 's' %}
                                    <td class="order-spec-date">
                                        <span class="order-basic-attr">Shipment date: </span></td>
                                    <td class="order-basic-value">{{ order.specDate }}</td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="order-address order-basic-left"><span class="order-basic-attr">Destination address: </span>
                                </td>
                                <td colspan="3" class="order-basic-value">{{ pList.0.rAddress }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="order-products-page col-sm-12">
                        <h2 class="page-subtitle">Products in the Order:</h2>
                        <div class="order-product-list">
                            <div class="order-product-data clearfix">
                                <div>
                                    <table class="order-product-table">
                                        <tbody>
                                        <tr>
                                            <th class="order-product-name">Product Name</th>
                                            <th class="order-product-quantity">Quantity</th>
                                            <th class="order-product-uprice">Unit Price</th>
                                            <th class="order-product-subtotal">Subtotal</th>
                                            <th></th>
                                        </tr>
                                        {% for p in pList %}
                                            <tr>
                                                <td class="order-product-name">{{ p.rName }}</td>
                                                <td class="order-product-quantity"><span
                                                        class="quantity">{{ p.rQuentity }}</span></td>
                                                <td class="order-product-uprice"><span
                                                        class="price">{{ p.rPrice }}</span></td>
                                                <td class="order-product-subtotal"><span class="subtotal"></span></td>
                                                <td class="order-product-review">
                                                    <div>
                                                        <span class="review-expander closed">Write review
                                                            <span>
                                                                <i class="fa fa-chevron-down"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="review-form-tr">
                                                <td colspan="5">
                                                    <div class="review-slide-form" style="display: none">
                                                        <div class="review-form-div">
                                                            <form>
                                                                <div class="review-rating"><label>Rating</label>
                                                                    <div class="rating-star-group">
                                                                        <span><i class="rating-star fa fa-star-o fa-lg star1"></i></span><span><i class="rating-star fa fa-star-o fa-lg star2"></i></span><span><i class="rating-star fa fa-star-o fa-lg star3"></i></span><span><i class="rating-star fa fa-star-o fa-lg star4"></i></span><span><i class="rating-star fa fa-star-o fa-lg star5"></i></span>
                                                                            <input class="star-value" style="display: none" value="3">
                                                                    </div>
                                                                </div>
                                                                <div class="review-review-field"><label>Review</label>

                                                                    <textarea
                                                                            placeholder="Write your review here."></textarea>

                                                                </div>
                                                                <div class="submit-btn">
                                                                    <button class="btn btn-success">
                                                                        POST
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="5"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'Footer.html' %}
</body>
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script>

    starCheck();

    //subtotal calculator
    quantitySet = $('.quantity');
    priceSet = $('.price');
    subtotalSet = $('.subtotal');
    num = 0;
    for (subtotal of subtotalSet) {
        subtotal.innerText = parseFloat(priceSet[num].innerText) * parseFloat(quantitySet[num].innerText);
        num = num + 1;
    }

    //click 'write review' to expend or close review row
    $('.review-expander').on('click', function () {
        $(this).parent().parent().parent().next().children().find('.review-slide-form').slideToggle();
        var icon = $(this).children().find('i');
        if (icon.hasClass('fa-rotate-180')) {
            icon.removeClass('fa-rotate-180')
        } else {
            icon.addClass('fa-rotate-180')
        }
    });

    //click star to rate
    $('.rating-star').on('click', function () {
        if ($(this).hasClass('star1')) {
            $(this).parent().parent().children('input').val('1');
        }
        if ($(this).hasClass('star2')) {
            $(this).parent().parent().children('input').val('2');
        }
        if ($(this).hasClass('star3')) {
            $(this).parent().parent().children('input').val('3');
        }
        if ($(this).hasClass('star4')) {
            $(this).parent().parent().children('input').val('4');
        }
        if ($(this).hasClass('star5')) {
            $(this).parent().parent().children('input').val('5');
        }
    });

    //star hover
    $('.rating-star').hover(function () {
        $(this).addClass('star-selected').removeClass('fa-star-o').addClass('fa-star');
        $(this).parent().prevAll().children().addClass('star-selected').removeClass('fa-star-o').addClass('fa-star');
        $(this).parent().nextAll().children().removeClass('star-selected').addClass('fa-star-o').removeClass('fa-star');
    }, function () {
        starCheck();
    });

    //check which star is selected
    function starCheck() {
        for (var v of $('.star-value')) {
            var value = v.value;
            var vParent = v.parentNode;
            for (var i = 5; i > 0; i--) {
                if (i <= value) {
                    vParent.children[i - 1].children[0].classList.add('star-selected', 'fa-star');
                    vParent.children[i - 1].children[0].classList.remove('fa-star-o');
                } else {
                    vParent.children[i - 1].children[0].classList.remove('star-selected', 'fa-star');
                    vParent.children[i - 1].children[0].classList.add('fa-star-o');
                }
            }
        }
    }
</script>
</html>