{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
</head>
<body id="body-style">
{#<form name="UserForm" action="/user_login/" method="post">#}
{#    {% csrf_token %}#}
{#    <h3>User ID: <input type="text" name="UserID"></h3>#}
{#    <h3>Password: <input type="password" name="UserPswd"></h3>#}
{#    <input type="submit" value="Login">#}
{#</form>#}
{#<p><a href="{% url 'register_link' %}">Sign up</a></p>#}
{#<p><a href="{% url 'home_link' %}">Take a look</a></p>#}

{#<form name="UserForm" action="/user_login/" method="post">#}
{#    {% csrf_token %}#}
{#    <div class="input-group margin-bottom-sm">#}
{#        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>#}
{#        <input class="form-control" type="text" placeholder="User ID" name="UserID">#}
{#    </div>#}
{#    <div class="input-group">#}
{#        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>#}
{#        <input class="form-control" type="password" placeholder="Password" name="UserPswd">#}
{#    </div>#}
{#    <input type="submit" value="Login">#}
{#</form>#}
{#<p><a href="{% url 'register_link' %}">Sign up</a></p>#}
{#<p><a href="{% url 'home_link' %}">Take a look</a></p>#}
{#<br/>#}


<div class="main">

        <div class="login-page">
            <div class="login-head">
                <h1>Macao Mall</h1>
            </div>
            <div class="div-line1"></div>
            <div class="container">
                <form name="UserForm" action="/user_login/" method="post">
                    {% csrf_token %}
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="User ID" name="UserID">
                    </div>
                    <div class="input-group  input-pswd">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Password" name="UserPswd">
                    </div>
                    <div class="div-line2"></div>
                    <div class="button-line">
                    <a href="{% url 'register_link' %}"><button class="register-btn btn btn-success" type="button">Sign Up</button></a>
                    <input class="login-btn btn btn-primary" type="submit" value="Login">
                    </div>
                </form>
            <a class="store-link" href="{% url 'home_link' %}">Take a look</a>
            </div>
        </div>
</div>
</body>
</html>