{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style>
        .image {
            width:300px;
            height:auto;
             float:left;
            display:inline;
        }
    </style>
</head>
<body>
{% for s in search %}
    <div class="image">
    <img src="{% static 'Search.html' %}{{ s.thumbnail_image }}.jpg">
    <h3>product name: {{ s.pname }}</h3>
    <h3>product brand: {{ s.brand }}</h3>
    <h3>product price: {{ s.price }}</h3>
    </div>
{% endfor %}
<h3>{{ Error }}</h3>
</body>
</html>