
.page-title {
    margin-bottom: 15px;
}

.order-basic-data {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    margin-right: 10px;
    border-radius: 25px;
}

.order-basic-table {
    width: 100%;
}

.order-basic-table td {
    height: 60px;
    width: 25%;
    vertical-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #ecebeb;
}

.order-basic-firstrow {
    border-top: solid 1px #ecebeb;
}

.order-basic-table .order-basic-attr {
    font: 16px "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
}

.page-subtitle {
    font: 30px "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}

.order-product-table {
    width: 80%;
    margin-bottom: 30px;
}

.order-product-table td {
    padding-left: 20px;
    width: 25%;
    height: 50px;
    background-color: #eeeeee;
    border-bottom: solid 1px #bbbbbb;
}

.order-product-table tr:last-child td {
    border-bottom: none;
}

.order-product-table th {
    padding-left: 20px;
    width: 25%;
    height: 50px;
    color: #ffffff;
    background-color: #1F9A77;
}

.order-product-table th.order-product-name {
    border-top-left-radius: 20px;
}

.order-product-table th.order-product-subtotal {
    border-top-right-radius: 20px;
}

.order-product-table tr:last-child .order-product-name {
    border-bottom-left-radius: 20px;
}

.order-product-table tr:last-child .order-product-subtotal {
     border-bottom-right-radius: 20px;
}



