#body-style {
    background-color: #eeeeee;
    line-height: 24px;
    letter-spacing: 0.5px;
<<<<<<< HEAD
    font: 16px "Arial", sans-serif;
=======
    /*font: 16px "PT Sans Narrow", sans-serif;*/
    font: 16px "Arial", sans-serif;
}

.btn {
    font-size: 16px;
    width: auto;
>>>>>>> 54dd2e4de915696981841af9f7247d8674ead21c
}

.page-title, .page-subtitle {
    font: 40px "Arial", sans-serif;
    color: #444444;
}

/* header style */
.header-top {
    background-color: #f8f8f8;
    font-size: 16px;
}

.header-top-left {
    float: left;
    margin: 8px 0;
    font-size: 24px;
    font-weight: bold;
    color: #1F9A77;
    text-decoration: none;
}

.nav-left-img {
    height: 30px;
}

.header-top-left a:link {
    color: #1F9A77;
}

.header-top-left a:hover{
    color: #1F9A77;
}

.header-top-left a:visited{
    color: #1F9A77;
}

.header-top-right {
    float: right;
    margin: 13px 0;
}

.header-top-right li {
    padding: 0 10px;
    border-left: 1px solid #bbb;
    line-height: 11px;
    display: inline;
    text-decoration : none;
}

.header-top-right a:link {
    color: #808080;
}

.header-top-right a:visited {
    color: #808080;
}

.header-top-right a:hover {
    color: #333333;
}

.header-top-right > li:first-child {
    border-left: none;
}
